.floating-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: url('./assets/icons/whatsapp-floating.svg') no-repeat center center;
    background-size: cover;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }  